.project {
    padding: 0.5rem;
    margin: 1rem auto;
    width: 20%;
    border-radius: 0.5rem;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
}

.thumbNail{
    width: 100%;
    margin: 0.5rem auto;
}

.titlehr{
    width: 90%
}

ul>li>a {
    text-decoration: underline;
    color: black;
}

ul>li>a:hover {
    color: #fff;
    text-decoration: underline;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

ul{
    list-style: none;
    padding: 0;
}

@media(max-width: 600px){
    .project{
        width: 40%;
    }
}