.profileImg{
    margin: 10%;
    width: 55%;
    height: auto;
    border-radius: 50%;
    background: #999;
    box-shadow: -2.5px -2.5px 20px rgba(0, 0, 0, 0.75);
}

.menu{
    text-align: center;
    transition: all 0.3s;
    background: #ddd;
    top: 0;
    width: 20%;
    min-height: 100vh;
    position: fixed;
}

.nameTitle{
    margin: 5rem 0;
}

.navBar>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLink{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.navLink:hover{
    color: white;
    text-decoration: underline;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.title{
    color: #fff;
    text-decoration: underline;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.active{
    color: white;
    text-decoration: underline;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navList {
    margin: 10px 0;
}

@media (max-width: 600px) {
    .menu{
        width: 0%;
        display: none;
    }
}