.portfolio{
    float: right;
    width: 74%;
    height: 100vh;
    text-align: center;
    /* background: green; */
}

.projects{
    padding: 2.5rem;
}

@media (max-width: 600px) {
    .portfolio{
        width: 100%;
    }
}