.portfolio{
    float: right;
    width: 73.3%;
    min-height: 100vh;
    text-align: center;
}

.title{
    text-align: center;
}

.titlehr {
    margin: 2.5rem;
}

.projects{
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.techLink{
    text-decoration: none;
    color: black;
}

.techLink:hover{
    color: #fff;
    text-decoration: underline;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

@media (max-width: 600px) {
    .portfolio{
        width: 100%;
    }
}