.portfolio{
    float: right;
    width: 80%;
    min-height: 100vh;
    text-align: center;
}

.title{
    text-align: center;
}

.titlehr {
    margin: 2.5rem;
}

.projects{
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.techLink{
    text-decoration: underline;
    color: black;
}

.techLink:hover{
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

@media (max-width: 600px) {
    .portfolio{
        width: 100%;
        transition: width 0.5s;
    }
    .shrunk{
        float: right;
        width: 70%;
        min-height: 100vh;
        text-align: center;
        transition: width 0.5s;
    }
}