* {
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.mobileMenu{
    margin: 0.5rem 0 0 0.5rem;
    position: fixed;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.section{
    & > div {
        transition: all 1s;
        animation: fadeInRight 1s ease-in-out forwards;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.75);
    }
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
        overflow: hidden;
    }
    to{
        transform: translateX(0);
        opacity: 1;
        overflow: auto;
    }
}

@media(max-width: 600px){
    .mobileMenu{
        display: inline;
    }
    .menu-enter{
        opacity: 0;
        width: 0%;
    }
    .menu-enter-active{
        opacity: 1;
        width: 30%;
        transition: all 300ms;
    }
}